@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #524a4e;
  /* color: #fdeff4; */
}
.container {
  height: 80vh;
  /* width: 80ch; */
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px rgba(255, 250, 250, 0.2);
  background: #fdeff4;
  border-radius: 20px;
  padding: 20px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  background: linear-gradient(to top, #ffc0d3 50%, transparent 50%);
}
h3,
h4 {
  padding: 15px;
  text-align: center;
  justify-content: center;
}
ul {
  list-style-type: none;
  list-style-position: inside;
}
ul li {
  padding: 0.2rem 0;
}
#myStream {
  display: flex;
  flex-direction: column;
  float: left;
  padding: 15px;
  width: 400px;
  height: 400px;
}
#myStream input,
select,
option {
  float: left;
}
#myFace {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: auto;
}
#peerStream {
  float: right;
  width: 400px;
  padding: 15px;
}
#peerFace {
  width: 25rem;
  height: auto;
}
#room h3 {
  float: left;
}
#room a {
  padding: 15px;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  color: #ff5c8d;
}
button {
  border-radius: 5px;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  padding: 0.4rem 0.8rem;
  justify-content: flex-end;
  background-color: #ff5c8d;
  color: #fdeff4;
  width: 122.48px;
  border-style: none;
}

button:active {
  background-color: #112d4e;
}

button:hover {
  cursor: pointer;
  background-color: #112d4e;
}
form {
  display: block;
  padding: 0 2rem;
}
input,
select,
option {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
  width: 300px;
  margin-right: 8px;
  margin-left: 15px;
  font-size: medium;
  font-weight: bold;
}
